<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<string>Your location will be used only to put you on our leaderboard map!</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location will be used only to put you on our leaderboard map!</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location will be used only to put you on our leaderboard map!</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location will be used only to put you on our leaderboard map!</string>
	<key>NSLocationUsageDescription</key>
	<string>Your location will be used only to put you on our leaderboard map!</string>
</dict>
</plist>
